/*Main style*/
html body {
    font-family: 'PF DinDisplay Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #242526;
    overflow-x: hidden;
}

a:focus {
    outline: none;
}

/*END Main style*/

/*Top-line style*/
.contain-top__line {
    width: 100%;
    height: 38px;
    background-color: #121212;
}

.top__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
}

.top__line_register a {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-right: 15px;
}

.top__line_register a:last-child {
    margin-right: 0;
}

.top__line_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top__line_social-slag {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin-right: 15px;
}

.top__line_social-link a {
    margin-left: 12px;
    text-decoration: none;
}

.top__line_social-link a:first-child {
    margin-left: 0;
}

/*END Top-line style*/

/*Header style*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 119px;
}

.header__logo h1 a {
    font-weight: 900;
    font-size: 32px;
    color: #242526;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__logo h1 a span {
    color: #2f8f41;
}

/*END Header style*/

/*Menu style*/
.contain-menu {
    background: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    height: 44px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 42px;
}

.menu__link ul li {
    margin-right: 26px;
}

.menu__link ul li:last-child {
    margin-right: 0;
}

.menu__link ul li a {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #212121;
}

.menu__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__button_youtube {
    margin-right: 8px;
}

.menu__button_youtube a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #CD201F;
    border-radius: 3px;
    width: 116px;
    height: 32px;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__button_youtube a img {
    margin-right: 7px;
}

.menu__button_googleplay {
    margin-right: 8px;
}

.menu__button_googleplay a {
    background: #F5F5F5;
    border: 1px solid #9A9D9F;
    border-radius: 3px;
    width: 135px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    color: #242526;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-decoration: none;
}

.menu__button_googleplay a img {
    margin-right: 7px;
}

.menu__button_search a {
    width: 32px;
    height: 32px;
    background: #2F8F41;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*END Menu style*/

/*Bonus style*/
.contain-bonus {
    position: relative;
    background-image: url(../img/img_background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 0 30px;
}

.bonus__doted {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(5, 7, 8, 0.319421) 0%, rgba(6, 8, 9, 0.24) 0.01%, #060809 70.31%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%);
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 25px;
}

.bonus__head h2 {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.bonus__text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #DFE4E6;
}

/*END Bonus style*/

/*Sort style*/
.contain-sort {
    width: 100%;
    height: 65px;
    background-color: #F5F5F5;;
}

.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.sort__link {
    margin-right: 15px;
}

.sort__link:last-child {
    margin-right: 0;
}

.sort__link a {
    background: #E3E4E5;
    border: 1px solid #B2B7BA;
    box-sizing: border-box;
    border-radius: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3F4143;
    text-decoration: none;
}

.sort__link a img {
    margin-right: 8px;
}

.sort__link a.inactive {
    opacity: 0.5;
    cursor: inherit;
}

.sort__link a.active {
    background: rgba(30, 136, 229, 0.1);
    border: 1px solid #1E88E5;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #3F4143;
}

/*END Sort style*/

/*Main block style*/
.contain-main {
    padding: 33px 0;
}

.ticket {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border-left: 1px solid #E0E0E0;
}


.ticket__left {
    margin-left: -1px;
}

.ticket__left {
    width: 100%;
    max-width: 230px;
}

.ticket__right {
    width: calc(100% - 230px);
}

.ticket__left_btn {
    background-color: #060809;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 39px 15px 15px;
    height: calc(100% - 160px);
}


.ticket__left_btn a {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.ticket__left_btn a:first-child {
    margin-bottom: 15px;
}

.ticket__right_head {
    padding: 15px;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    background-color: #FAFAFA;
}

.ticket__right_head a {
    background: #4CAF50;
    border-radius: 3px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    height: 25px;
    padding: 0 15px;
    text-decoration: none;
    display: inline-block;
}

.ticket__right_head-text {
    font-size: 18px;
    line-height: 22px;
    margin-top: 10px;
}

.ticket__right_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    border-right: 1px solid #E0E0E0;
}

.ticket__right_info-one,
.ticket__right_info-two,
.ticket__right_info-tri {
    width: 33.3333%;
}

.ticket__right_info-one,
.ticket__right_info-two {
    margin-right: 15px;
}

.link__blue a {
    background: #1E88E5;
    border: 1px solid #1E88E5;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 2px 20px;
    margin-top: 17px;
    display: block;
}

.link__transparent a {
    background: #FFFFFF;
    border: 1px solid #1E88E5;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    color: #242526;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 17px;
    display: block;
}

.link__red a {
    background: #F83030;
    border: 1px solid #F83030;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 20px;
    margin-top: 17px;
    display: block;
}

.info__slag {
    font-size: 14px;
    line-height: 25px;
}

.info__name {
    font-weight: 800;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 5px;
}

.ticket__bottom {
    width: 100%;
    height: 46px;
    background: #FAFAFA;
    border: 1px solid #E0E0E0;
    padding: 8px 15px;
    margin-left: -1px;
}

.ticket__bottom a {
    font-size: 16px;
    color: #242526;
    text-decoration: none;
    border-bottom: 1px dashed #2F8F41;
}

/*END ain block style*/

/*Sidebar block style*/
.sidebar {
    margin-bottom: 30px;
}

.sidebar:last-child {
    margin-bottom: 0;
}


.sidebar__head {
    width: 100%;
    border-bottom: 1px solid #000000;
}

.sidebar__head_text {
    background: #121212;
    font-weight: 900;
    font-size: 13px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 20px;
}

.sidebar__one {
    background-color: #FAFAFA;
    padding: 20px;
}

.make__bet {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.make__bet:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}

.make__bet_img {
    width: 100px;
    height: auto;
}

.make__bet_inf {
    margin-left: 16px;
    width: calc(100% - 116px);
}

.make__bet_inf-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #242526;
}

.make__bet_inf-slag {
    font-size: 15px;
    line-height: 15px;
    color: #9A9D9F;
    margin-top: 6px;
}

.rating {
    background: #FAAB00;
    border-radius: 3px;
    padding: 4.5px 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
}

.rating img {
    margin-right: 6px;
}

.make__bet_inf-link a {
    width: 100%;
    background: #2F8F41;
    border: 1px solid #2F8F41;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5px;
    text-decoration: none;
}

.sidebar__link {
    background-color: #FAFAFA;
    padding: 0 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__link a {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #242526;
    text-decoration: none;
}

.sidebar__link a img {
    margin-left: 9px;
}

.sidebar__two {
    background-color: #FAFAFA;
    padding: 10px;
}

.reviews {
    position: relative;
    border: 1px solid #E0E0E0;
    padding: 22px 10px 19px;
    margin-bottom: 10px;
}

.reviews .rating {
    top: 16px;
    right: 10px;
}

.reviews__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #242526;
    margin-bottom: 15px;
}

.reviews__text {
    font-size: 16px;
    line-height: 24px;
    color: #242526;
    margin-bottom: 15px;
}

.reviews__text a {
    color: #1e88e5;
    text-decoration: underline;
}

.reviews__author {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.reviews__author_name,
.reviews__author_date {
    width: calc(50% - 15px);
    font-size: 14px;
    line-height: 18px;
    color: #999999;
    display: flex;
    align-items: center;
}

.reviews__author_name {
    justify-content: flex-start;
}

.reviews__author_date {
    justify-content: flex-end;
}

.reviews__author_name img,
.reviews__author_date img {
    margin-right: 7px;
}

/*END Sidebar block style*/

.contain-mobile__line {
    display: none;
    height: 50px;
    background-color: #F5F5F5;
}

.mobile__line {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile__line_logo a {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #242526;
    text-decoration: none;
}

.mobile__line_icon {
    height: 50px;
    display: flex;
    align-items: center;
}

.mobile__line_icon a:first-child {
    margin: 0 25px 0 0;
}

.mobile__line_icon a:last-child {
    margin: 0;
}

.mobile__ticket {
    display: none;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
    flex-direction: column;
}

.mobile__ticket_top {
    padding: 15px 20px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-wrap: wrap;
}

.mobile__ticket_top-link {
    width: 100%;
    margin-bottom: 15px;
}

.mobile__ticket_top-link a {
    background: #1E88E5;
    border-radius: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    height: 25px;
    padding: 0 15px;
    display: inline-flex;
}

.mobile__ticket_top-image {
    width: 100px;
    margin-right: 15px;
}

.mobile__ticket_top-text {
    width: calc(100% - 115px);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #242526;
}

.mobile__ticket_center {
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
}

.mobile__ticket_center-text {
    width: calc(50% - 15px);
    margin-right: 15px;
}

.mobile__ticket_center-link {
    width: 100%;
}

.mobile__ticket_bottom {
    padding: 15px 20px;
    background-color: #FAFAFA;
}

.mobile__ticket_bottom-link a {
    font-size: 16px;
    color: #242526;
    text-decoration: none;
    border-bottom: 1px dashed #2F8F41;
    margin-bottom: 15px;
    display: inline-flex;
}

.mobile__ticket_bottom-text {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}